In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Data Files/Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_Federal_and_Agency_2019.csv")
df.head()

,State,Agency Type,Agency,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nidentity,1st\nquarter,2nd\nquarter,3rd\nquarter,4th\nquarter,Population
0,Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,287731.0
1,Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31493.0
2,Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3272.0
3,Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2111.0
4,Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4756.0

In [5]:
df.tail()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
638449,638450,WY01500,Park County,Sheriff,Park,Wyoming,2014,January,1,Murder or Manslaughter,...,Hispanic,Unknown,0,Unknown,Unknown,Unknown,Handgun,0,0,FBI
638450,638451,WY01700,Sheridan County,Sheriff,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,...,Unknown,Male,57,White,Unknown,Acquaintance,Handgun,0,0,FBI
638451,638452,WY01701,Sheridan,Municipal Police,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,...,Unknown,Female,22,Asian/Pacific Islander,Unknown,Daughter,Suffocation,0,0,FBI
638452,638453,WY01800,Sublette County,Sheriff,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,...,Not Hispanic,Male,31,White,Not Hispanic,Stranger,Knife,0,1,FBI
638453,638454,WY01902,Rock Springs,Municipal Police,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,...,Not Hispanic,Female,24,White,Not Hispanic,Daughter,Blunt Object,0,1,FBI

In [5]:
df = pd.read_csv("Data Files/2020 US Census - State Racial Demographics.csv")
df.head()

,State,% White,% Black,% American Indian and Alaska Native,% Asian,% Native Hawaiian and Other Pacific Islander,% Other Race,% Two or More Races,% Hispanic
0,Alaska,59.4,3.0,15.2,6.0,1.7,2.5,12.2,6.8
1,Arizona,60.4,4.7,4.5,3.6,0.2,12.6,13.9,30.7
2,Arkansas,70.2,15.1,0.9,1.7,0.5,4.5,7.1,8.5
3,California,41.2,5.7,1.6,15.4,0.4,21.2,14.6,39.4
4,Colorado,70.7,4.1,1.3,3.5,0.2,8.0,12.3,21.9

In [6]:
df.tail()

,State,% White,% Black,% American Indian and Alaska Native,% Asian,% Native Hawaiian and Other Pacific Islander,% Other Race,% Two or More Races,% Hispanic
46,Washington,66.6,4.0,1.6,9.5,0.8,6.7,10.9,13.7
47,West Virginia,89.8,3.7,0.2,0.8,0.0,0.7,4.7,1.9
48,Wisconsin,80.4,6.4,1.0,3.0,0.0,3.1,6.1,7.6
49,Wyoming,84.7,0.9,2.4,0.9,0.1,3.5,7.5,10.2
50,United States,61.6,12.4,1.1,6.0,0.2,8.4,10.2,18.7